[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Jake Choi (soliven25)
[access "refs/for/refs/*"]
	read = group user/Jake Choi (soliven25)
	push = group user/Jake Choi (soliven25)
	label-Code-Review = -2..+2 group user/Jake Choi (soliven25)
	label-Verified = -1..+1 group user/Jake Choi (soliven25)
	rebase = group user/Jake Choi (soliven25)
	removeReviewer = group user/Jake Choi (soliven25)
	submit = group user/Jake Choi (soliven25)
[access "refs/heads/*"]
	read = group user/Jake Choi (soliven25)
	create = group user/Jake Choi (soliven25)
	push = +force group user/Jake Choi (soliven25)
	pushMerge = group user/Jake Choi (soliven25)
[access "refs/tags/*"]
	push = +force group user/Jake Choi (soliven25)
	pushTag = group user/Jake Choi (soliven25)
	pushSignedTag = group user/Jake Choi (soliven25)
